//PRIMARY COLORS//
$dark-blue: #1e1955;
$blue:#212a72;
$light-blue:#088cd2;
$light-color:#fff;
$grey-grad: linear-gradient(#b3b3b3, #fff, #b3b3b3);

//SECONDARY COLORS//

$green:#42a043;
$yellow:#febe01;
$orange:#e45400;
$magenta:#ba144d;
$purple:#681f75;
$black:#080d0c;


