body {
  .card{
    width: 547px;
    height: 198px;
    position: relative;
    background-image: url("../img/product_background.png");
    background-repeat: no-repeat;
    background-size: contain;
    img.product{
      position: absolute;
      top: 43px;
      left: 99px;
    }
    a{
      position: absolute;
      top: 85px;
      right: 45px;
    }
  }
}
